/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3rem;
  font-weight: 400;
}
h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: white;
  text-decoration: none;
}
button {
  background: #4c6e97;
  padding: 2rem 6rem;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5rem;
}
/* nav sec with hero */

.main-head {
  background-color: #131c27;
  color: white;
  position: sticky;
  top: 0px;
  z-index: 4;
}
nav {
  min-height: 10vh;
  padding: 2rem;
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-size: 4.3rem;
  font-weight: 400;
}

nav ul {
  flex: 1 1 40rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.582), transparent),
    url("/img/landing-page.jpg");
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 5rem;
}

/* Location section  */

#locations {
  min-height: 100vh;
  background: linear-gradient(rgb(0, 0, 0, 0.5), transparent),
    url("/img/new-york-page.png");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.locations-head {
  width: 90%;
  margin: auto;
}

.locations-head h2 {
  padding: 2rem 0rem;
  text-decoration: underline;
  text-decoration-thickness: 0.4rem;
  /* text-decoration: solid; */
  /* text-decoration: double; */
}
/* .locations-head h3 {
  background: linear-gradient(rgb(0, 0, 0), rgb(24, 24, 24), rgb(0, 19, 48));
  background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
}

.moving-cloud-1 {
  z-index: 1;
  opacity: 0.95;
  animation: cloudAnimation 3s ease-in-out infinite alternate;
}

.moving-cloud-2 {
  top: 20%;
  z-index: -1;
  opacity: 0.7;
  animation: cloudAnimation 3s ease-in-out 0.5s infinite alternate;
}

@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

/* benefits section */

.benefits-head {
  padding: 3rem;
  background: rgb(19, 28, 39);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 30vh;
}
.benefits-head h3 {
  padding: 2rem;
}

/* cards section */

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  border-radius: 3rem;
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.274),
    0px 20px 20px rgba(0, 0, 0, 0.247);
}

.cards img {
  max-width: 15%;
  margin: 2rem;
}
.card h4,
.card p {
  padding: 1rem;
  line-height: 1.8;
}

.card-icon {
  background: #27394e;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}
/* contact page */

#contacts {
  min-height: 100vh;
  background: linear-gradient(rgb(0, 0, 0, 0.5), transparent),
    url(/img/contact-mountain.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  color: white;
  background: rgba(19, 28, 39, 0.801);
  width: 60%;
  border-radius: 3rem;
}

.form-head {
  text-align: center;
  font-size: 1.1rem;
  padding: 3rem;
  margin: 2rem;
}

.form-wrapper button {
  font-size: large;
  width: 100%;
  padding: 2.5rem;
  margin-top: 8rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.email,
.name {
  margin: 3rem;
  text-align: center;
}

.form-wrapper input {
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 1rem;
  text-align: center;
}

.form-wrapper label {
  text-align: center;
  margin: 0rem 3rem;
}
/* footer  */
footer {
  background: rgb(19, 28, 39);
  color: white;
  display: flex;
}

.footer-wrapper {
  width: 90%;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer-wrapper h2 {
  flex: 1 1 40rem;
  font-family: "Pattaya", sans-serif;
}
.footer-wrapper ul {
  flex: 1 1 40rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

button:focus {
  background: #27394e;
  outline: white;
}

input:focus {
  background: rgb(234, 191, 253);
}
/* media query */

@media screen and (max-width: 933px) {
  body {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }

  #logo {
    padding: 2rem;
  }
  .cloud {
    height: 45rem;
    width: auto;
  }
  .locations-head h3 {
    background: #131c27ce;
    -webkit-text-fill-color: #eaedf1fd;
  }

  footer {
    text-align: center;
  }
}
